.section {

}

.chapter {
    border: none;
    outline: none;
    padding: 5px;
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.1em;
    border-radius: 2px;
}
.guide {
    display: none;
}
.chapter:hover, .open {
    background-color: lightsteelblue;
}
.term {
    background-color: #fcff7b;
}
.admin {
    border: 1px solid darkgrey;
    border-radius: 5px;
    background-color: lightsteelblue;
    margin: 5px;
    padding: 5px;
}
.section img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#intro {

}
#how_to {
    display: none;
}
#page_by_page {
    display: none;
}

#sections {
    width: 70%;
    padding: 20px;
    line-height: 2.2;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darkgrey;
    border-radius: 5px;
    background-color: white;
}

#sections > button, #images {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #b92f2f;
    color: white;
}
#sections > button:hover, #sections > button.active, #images:hover {
    background-color: #2fb9b9;
}
#how_to_cont {
    display: flex;
    flex-direction: row;
}

#lh_cont {
    width: 50%;
}
#rh_cont {
    width: 50%;
    position: relative;
    top: -30px;
}
#rh_cont img {
    width: 350px;
}


@media (max-width: 1500px) {
    #sections {
        width: 1000px;
    }
}