.chapter {
    border: none;
    outline: none;
    padding: 5px;
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.1em;
}
.guide {
    display: none;
}
.chapter:hover, .open {
    background-color: lightsteelblue;
}