.table_cont {
    width: 90%;
    height: 715px;
    overflow-y: auto;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

#backlog {
    border-collapse: collapse;
    table-layout: auto;
    overflow-y: auto;
    width: 100%;
    min-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

th {
    background-color: #fcff7b;
    padding: 10px;
}

tr {
    border-bottom: 3px solid lightskyblue;
}

td {
    padding: 10px;
    text-align: justify;
}

td a {
    background-color: #b92f2f;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
}

td a:hover {
    background-color: #2fb9b9;
}

#add_pbi {
    border: 1px solid darkgrey;
    width: 90%;
    min-width: 1070px;
    height: 140px;
    padding: 5px;
    position: absolute;
    bottom: 5px;
    left: 5%;
    margin-left: auto;
    margin-right: auto;
}
form {
    columns: 2;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.completed {
    background-color: lightgrey;
}
.controls {
    width: 230px;
}

@media (max-width: 1150px) {
    .table_cont {
        height: 700px;
    }
    #add_pbi {
        left:0;
    }
}