#SBI_container {
    width: 95%;
    height: 850px;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    z-index: -50;
}

#user_list {
    flex-direction: column;
    flex-shrink: 0;
    width: 100px;
    height: 850px;
    overflow-y: auto;
    background-color: red;
}

.user_box {
    height: 30px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    text-align: center;
    margin-top: 15px;
}

#task_board {
    display: inline-block;
    width: 100%;
    height: 850px;
    overflow-y: auto;
    background-color: grey;
}
.pbi {
    display: block;
    width: 99%;
    background-color: blue;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}
.sbi {
    display: block;
    width: 99%;
    height: 112px;
    padding: 5px;
    background-color: lightsteelblue;
    margin-left: auto;
    margin-right: auto;
}

.not_started {
    position: relative;
    height: 100px;
    width: 24%;
    padding: 5px;
    margin: 5px;
    background-color: grey;
}
.in_progress {
    position: relative;
    left: 25%;
    height: 100px;
    width: 24%;
    padding: 5px;
    margin: 5px;
}
.testing {
    position: relative;
    left: 50%;
    height: 100px;
    width: 24%;
    padding: 5px;
    margin: 5px;
}
.done {
    position: relative;
    left: 75%;
    height: 100px;
    width: 24%;
    padding: 5px;
    margin: 5px;
}

@media (max-width: 1400px) {
    #container {
        width: 1100px;
    }
    .pbi {
        width: 1100px;
    }
    .not_started {
        width: 250px;
    }
    .in_progress {
        width: 250px;
        left: 270px;
    }
    .testing {
        width: 250px;
        left: 535px;
    }
    .done {
        width: 250px;
        left: 800px;
    }
}