#SBI_container {
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    z-index: -50;
    color: black;
}

#user_list {
    flex-direction: column;
    flex-shrink: 0;
    width: 100px;
    height: 850px;
    overflow-y: auto;
    text-align: center;
}

.user_box {
    height: 30px;
    width: 70px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    align-items: center;
    border: 1px solid darkgrey;
    border-radius: 10px;
}
#titles {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#task_board {
    display: inline-block;
    width: 100%;
    height: 830px;
    overflow-y: auto;
}
.pbi {
    display: block;
    width: 99%;
    border: 1px solid darkgrey;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightsteelblue;
}
.sbi {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#sbi_buttons {
    border: 1px solid darkgrey;
}
.spacer {
    width: 95%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #b92f2f;

}
/*--  SBI Categories --*/
.not_started {
    position: relative;
    overflow-y: auto;
    width: 24%;
    padding: 5px;
    margin: 5px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
}
.in_progress {
    position: relative;
    left: 25%;
    overflow-y: auto;
    width: 24%;
    padding: 5px;
    margin: 5px;
    border: 1px solid darkgrey;
    border-radius: 5px;
}
.testing {
    position: relative;
    left: 50%;
    overflow-y: auto;
    width: 24%;
    padding: 5px;
    margin: 5px;
    border: 1px solid darkgrey;
    border-radius: 5px;
}
.done {
    position: relative;
    left: 74%;
    overflow-y: auto;
    width: 24%;
    padding: 5px;
    margin: 5px;
    border: 1px solid darkgrey;
    border-radius: 5px;
}
/*--  /SBI Categories --*/
.pbi .menubutton {
    padding: 10px;
    border-radius: 5px;
}
.pbi .drop-down:hover {
    border: none;
}
.pbi .menu-options {
    padding: 10px;
    width: 250px;
    height: unset;
    text-align: justify;
    color: white;
}
.sbi a {
    background-color: #b92f2f;
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 5px;
    /*position: absolute;
    bottom: 0;
    right:0;*/
}
.sbi a:hover {
    background-color: #2fb9b9;
}
.centered {
    text-align: center;
}
/*-- Edit Icons --*/
i {
    position: relative;
    top: 2px;
    left: -0.5px;
}
.edit {
    padding: 1px;
    display: unset;
    float: left;
}
.edit a {
    padding: unset;
    margin: unset;
    position: unset;
    display: unset;
    float: left;
}
.edit a:hover {
    /*background-color: unset;*/
}
/*-- /Edit icons --*/
@media (max-width: 1250px) {
    #container {
        width: 1100px;
    }
    .pbi {
        width: 1100px;
    }
    .not_started {
        width: 250px;
    }
    .in_progress {
        width: 250px;
        left: 270px;
    }
    .testing {
        width: 250px;
        left: 535px;
    }
    .done {
        width: 250px;
        left: 800px;
    }
    #titles {
        width: 1100px;
    }
}